.navbar-start{
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

 .navbar-brand {
     height: 12px;
     width: 100px;
 }

@media screen and (max-width: 920px){
    #logo{
        display: none;
    }
    .force-center{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-end{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 540px){
    .navbar-brand{
        display: none;
    }
}